<!DOCTYPE html>
<html>
<head>
    <title>Exemplo de Loop</title>
</head>
<body>
    <h1>Lista de Nomes</h1>
    <ul>
        {% for name in data['names'] %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
